h1,h2,h3,h4,h5,h6{
  margin:0px;
}

html, body{
  overflow:hidden;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input:required {
  box-shadow:none;
}

input:invalid {
  box-shadow:0 0 0px;
}

textarea, input {
  outline: none;
}

body{
  background:#494745;
  backface-visibility: hidden;
  overflow:hidden;
}

a{
  color:inherit;
  &:hover, &:active, &:visited, &:focus{
    color:inherit;
    text-decoration:none;
    outline: none;
  }
}

body >.app{
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  overflow:hidden;
  height:100%;
  background: #fff;
  >.uiv{
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
  }
}